


.restaurant {

    border-left: 5px solid #ff3d07;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    padding-left: 5px;

}

.special {

    border-left: 5px solid #faad14;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 5px;

}

.deal {

    border-left: 5px solid #ff2afb;
    width: 100%;
    height: 20px;
    margin-left: 20px;
    margin-top: 10px;

    padding-left: 5px;

}


